{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label}} mt-3" role="alert">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endfor %}