{% extends 'base.html.twig' %}
{% set active = 'palidrome' %}
{% block title %}
    check palindrome
{% endblock %}
{% block content%}
    <div class="container-fluid palindrome_block">
        <h3 class="text-center">Palindrome String Check</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    {% include 'helper/flashMessage.html.twig' %}
{% endblock %}